// --------------------------------------------------
// variables
// --------------------------------------------------

$btn-bg-color: #525be4;
$btn-font-color: #545454;

// --------------------------------------------------
// base
// --------------------------------------------------

.btn {
  background-color: $btn-bg-color !important;
  border: 2px solid $btn-bg-color !important;
  border-radius: 4px !important;
  color: #fff;
  line-height: normal;
  font-weight: 600;
  transition: all 0.3s ease !important;

  &:hover {
    background-color: #fff !important;
    color: $btn-font-color !important;
    transition: all 0.3s ease !important;
  }
}

a {
  color: #41a5df;
  text-decoration: none;
  background: transparent;

  &:hover {
    color: #39e58e;
  }
}

#pfCustomizeProductBtn.btn {
  width: 100%;
  margin: 10px 10px 0 0 !important;
}
