// --------------------------------------------------
// variables
// --------------------------------------------------
$min: min-width;
$max: max-width;
$viewportIncrement: 1px;
$siteWidth: 1050px;
$small: 590px;
$medium: 768px;
$large: 769px;
$xlarge: $siteWidth + $viewportIncrement;

// --------------------------------------------------
// meta
// --------------------------------------------------

.product-single__meta {
  transition: 0.3s ease all;
}

// --------------------------------------------------
// radio options
// --------------------------------------------------

.single-option-radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  label.product-select__option {
    border-width: 2px;
    flex-basis: 50%;
    max-width: 50%;
    margin: 0;
    transition: all 0.15s ease;

    @media screen and ($min: $medium) {
      flex-basis: 25%;
      max-width: 25%;
    }

    .product-variant-label {
      display: block;
      margin-top: 10px;
    }

    .product-variant__thumb {
      border-radius: 4px;
    }
  }
}

.product-form__input.file {
  border-radius: 4px;
  padding: 15px;
  line-height: normal;
  cursor: pointer;
}

.product-form__input.text {
  display: block;
  border-radius: 4px;
  line-height: normal;
  padding: 15px;
  width: 100%;
}

.single-option-radio input[type='radio']:checked + label,
.product-single__thumbnail.active-thumb img {
  border-color: #535be4;
  border-width: 2px;
  border-radius: 4px;
}
